<!DOCTYPE html>
<html>
<head>
    <title>Interview</title>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery-ui.js" type="text/javascript"></script>
    <script src="js/component.js" type="text/javascript"></script>
    <script src="js/jquery.maskedinput.js" type="text/javascript"></script>


    <link rel="stylesheet" href="css/kube.min.css"/>
    <link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.2.custom.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body style="padding:8px;" id="interview">
<h4>Interview</h4>
<img src="img/wheel.png" />

<form class="forms">
    <fieldset>
        <ul>
            <li>
                <label for="thema" class="bold">Thema</label>
                <div id="thema-text" style="font-weight:bold;"></div><input type="text" name="thema" id="thema" size="35"/>
            </li>
            <li>
                <label for="start" class="bold">Zeitraum *</label>
                <ul class="multicolumn">
                    <li>
                        <span id="start-text"></span><input type="text" name="start" id="start" size="5" maxlength="5"> bis
                    </li>
                    <li>
                        <span id="start-end"></span><input type="text" name="end" size="5" id="end" maxlength="5">
                    </li>
                </ul>
            </li>
            <li id="interviewpartner">
                <label class="bold">Interviewpartner</label>
                <div id="name-text"></div>
                <div id="phone-text"></div>
                <div id="mail-text"></div>
                <div id="street-text"></div>
                <div id="city-text"></div>
            </li>
            <li class="input">
                <h4>Interviewpartner</h4>
                <label for="name" class="bold">Name: </label>
                <input type="text" name="name" id="name" size="35"/>
            </li>
            <li class="input">
                <label for="phone" class="bold">Telefonnummer: </label>
                <input type="text" name="phone" id="phone" size="35"/>
            </li>
            <li class="input">
                <label for="mail" class="bold">Mail: </label>
                <input type="text" name="mail" id="mail" size="35"/>
            </li>
            <li class="input">
                <label for="street" class="bold">Adresse: </label>
                <input type="text" name="street" id="street" size="35"/><br/><br/>
                <input type="text" name="city" id="city" size="35"/>
            </li>
            <li >
                <label for="questions" class="bold">M&ouml;gliche Fragen: </label>
                <textarea name="questions" id="questions" rows="5" cols="33"></textarea>
            </li>
            <li >
                <label for="infotext" class="bold">Weitere Informationen: </label>
                <textarea name="infotext" id="infotext" rows="5" cols="33"></textarea>
            </li>
            <li class="input">
                <input type="button" name="submit" id="submitInterview" value="Interview aktualisieren" class="btn">
            </li>
        </ul>
    </fieldset>
</form>
<div id="socialMedia" style="border:1px dashed #CCC; padding:3px;">
    <h4>Nachrichten:</h4>
    <ul>

    </ul>
</div>
</body>
</html>