<!DOCTYPE html>
<html>
<head>
    <title>Neue Sendung anlegen</title>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery-ui.js" type="text/javascript"></script>
    <script src="js/radioexpert.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/kube.min.css"/>
    <link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.2.custom.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body style="padding:8px;" id="newBroadcast">
<h4>Neue Sendung erstellen</h4>

<form class="forms">
    <fieldset>
        <ul>
            <li>
                <label for="title" class="bold">Sendungstitel</label>

                <div class="descr">Wird im Kopfbereich der jeweiligen Sendung angezeigt.</div>
                <input type="text" name="title" id="title" size="40"/>
            </li>
            <li>
                <label for="date" class="bold">Datum</label>
                <input type="text" id="date" name="date">
            </li>
            <li>
                <label for="start" class="bold">Zeitraum</label>
                <ul class="multicolumn">
                    <li>
                        <input type="text" name="start" id="start" size="5" maxlength="5"> bis
                    </li>
                    <li>
                        <input type="text" name="end" size="5" id="end" maxlength="5">
                    </li>
                </ul>
            </li>
            <li>
                <label for="intro" class="bold">Einleitungstext</label>
                <textarea class="width-100" name="intro" id="intro" style="height: 50px;"></textarea>
            </li>
            <li>
                <label for="description" class="bold">Informationstext</label>
                <textarea class="width-100" name="text" id="description" style="height: 100px;"></textarea>
            </li>
            <li>
                <input type="button" name="submit" id="submitBroadcast" value="Sendung erstellen" class="btn">
            </li>
        </ul>
    </fieldset>
</form>
</body>
</html>