<!DOCTYPE html>
<html>
<head>
    <script src="js/jquery.js"></script>
    <script src="js/radioexpert.js"></script>

    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/base.css" rel="stylesheet"/>
    <title>TimeLine GUI Element</title>
</head>
<body id="timelineComponent">
<div id="header">
    <h1>Snedungstitel</h1>
    <span>12.06.1991 12.30</span>

    <p>anctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. ...
    </p>
</div>
<div id="timeline" >
    <div id="timelinegrid"></div>
</div>
</body>
</html>