<!DOCTYPE html>
<html>
<head>
    <script src="js/jquery.js"></script>
    <script src="js/radioexpert.js"></script>
    <link rel="stylesheet" href="css/kube.min.css"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>TimeLine GUI Element</title>
</head>
<body id="timelineComponent">
<div id="header">
    <h4>Snedungstitel <span class="descr">12.06.1991 12.30</span></h4>
    <blockquote>
        Kleiner Anlesetext mit Pregnanter Zielsetzung der Sendung und Beschreibung des Themas ...
    </blockquote>
</div>
<div id="timeline">
    <div id="timelinegrid"></div>
    <div id="pointer"><div></div></div>
</div>
</body>
</html>