<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery.js"></script>
    <script src="js/timeline.js"></script>
    <link rel="stylesheet" href="css/kube.min.css"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>TimeLine GUI Element</title>
</head>
<body id="timelineComponent">
<div id="header">
    <h4>&nbsp;<span class="descr">&nbsp;</span></h4>
    <img src="img/wheel.png" />
    <blockquote>
        Bitte laden oder erzeugen Sie eine Sendung.
    </blockquote>
</div>
<div id="timeline">
    <div id="timelinegrid"></div>
    <div id="pointer"><div></div></div>
    <div id="modules"></div>
</div>
</body>
</html>