#timelineComponent h1{
    font-size: 18px;
}

#timelineComponent div#header{
    height: 100px;
    padding:5px;
    overflow: hidden;
}

#newBroadcast{
    background-color:#EEE;
}

div#timeline{
    margin:10px 0 0 0;
    padding:5px 0px 10px 20px;
    position:relative;
    position: relative;
    overflow-x:hidden;
    overflow-y:  scroll;
}

div#timelinegrid{

    width: 100px;
}

div#timeline span.time{
    position: absolute;
    left: 5px;
}

div#timeline hr , div#timeline hr.smooth , div#timeline hr.fat
{
    left:45px;
    width:100%;
    position:absolute;
}

div#timeline hr
{
    border-color:#EEE;
}
div#timeline hr.smooth
{
    border-color:#AAA;
}
div#timeline hr.fat
{
    border-color:#555;
}


div#pointer{
    border-top:1px solid #D00;
    margin-left:19px;
}
div#pointer div{
    width:10px;
    height:10px;
    border-radius: 5px;
    fx-border-radius: 5px;
    background-color:#D00;
    margin-top:-5px;
}
div#timeline span#timePointer{
    background-image:url(../img/timelinepointer.png);
    background-repeat:no-repeat;
    width:200px;
    height:9px;
    position:absolute;
    top:10px;
    left:5px;
    opacity:0.4;
}
/*************timeline Elemente************/
div#module  {
position:relative;

}

div#modules div.module{
     position:absolute;
     left:45px;
     width:100%;
     padding: 15px;


}