
div#timeline{
    background-image:url(timeline.png);
    background-repeat:repeat-y;
    margin:10px 0 0 0;

    padding:5px 0px 10px 20px;
    position:relative;
}

div#timeline span#timePointer{
    background-image:url(timelinepointer.png);
    background-repeat:no-repeat;

    width:200px;
    height:9px;
    position:absolute;
    top:10px;
    left:5px;
    opacity:0.4;
}