
#timelineComponent h1{
    font-size: 18px;
}
#timelineComponent div#header{
    

    height: 100px;
    padding:5px;
    overflow: hidden;
}

div#timeline{
    margin:10px 0 0 0;

    padding:5px 0px 10px 20px;
    position:relative;
    position: relative;
    overflow-x:hidden;
    overflow-y:  scroll;
}

div#timelinegrid{
    background-image:url(../img/timeline.png);
    background-position: 35px 0;
    background-repeat:repeat-y;
    height: 100%;
    width: 100px;
}

div#timeline span.time{
    position: absolute;
    left: 5px;
}

div#timeline span#timePointer{
    background-image:url(../img/timelinepointer.png);
    background-repeat:no-repeat;

    width:200px;
    height:9px;
    position:absolute;
    top:10px;
    left:5px;
    opacity:0.4;
}