<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://activemq.apache.org/schema/core
http://activemq.apache.org/schema/core/activemq-core.xsd
http://www.springframework.org/schema/jms
http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

    <context:component-scan base-package="de.fhkoeln.eis.radioexpert.client"/>

    <!-- connectionFactory fuer localhost messageBroker anlegen-->
    <amq:connectionFactory id="jmsConnectionFactory" brokerURL="tcp://localhost:62626"/>

    <!-- Topics und Connectionfactory ausgelagert fuer gemeinsame Nutzung-->
    <import resource="jmsConnectionAndTopics.xml"/>


    <jms:listener-container connection-factory="jmsConnectionFactory" destination-type="topic">
        <jms:listener destination="chat" ref="chatHandlerMessageListener"/>

        <jms:listener destination="facebook" ref="socialMediaListHandlerMessageListener"/>
        <jms:listener destination="twitter" ref="socialMediaListHandlerMessageListener"/>
        <jms:listener destination="mail" ref="socialMediaListHandlerMessageListener"/>

        <jms:listener destination="onlinestatus" ref="onlineStatusHandlerMessageListener"/>
        <jms:listener destination="broadcast" ref="broadcastMessageListener"/>
        <jms:listener destination="interview" ref="timeLineMessageListener"/>
        <jms:listener destination="audio" ref="timeLineMessageListener"/>

        <!-- TODO: Zuweisungen vervollständigen -->
    </jms:listener-container>
    <!-- evtl mit consumer geloest !
    <jms:listener-container connection-factory="jmsConnectionFactory" destination-type="queue">
        <jms:listener destination="persistenceResponse" ref="loadBroadcastMessageListener"/>
    </jms:listener-container>
    -->

</beans>